/*------Algemein-------*/

* {
  border: border-box;
  margin: 1rem;
}

body {
  font-size: 20px;
  background-color: lightgray;
}

h1,
#btn {
  font-family: "Libre Baskerville", serif;
}

.list {
  font-family: "IM Fell English", serif;
}

/*------Head-------*/

header {
  margin: 0 auto;
  width: auto;
  height: auto;
  border-radius: 20px;
  padding-top: 1rem;

  background-color: whitesmoke;

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  box-shadow: rgba(50, 50, 93, 2.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 5.5) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.355) 0px -2px 6px 0px inset;
}

h1 {
  font-size: 2rem;
}
.btn {
  background-color: white;

  text-align: inherit;
  border: none;

  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 2.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 5.5) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.355) 0px -2px 6px 0px inset;
}

main {
  padding: 2rem;
}

/*------Quotes-------*/

.list {
  list-style: none;
  background-color: whitesmoke;
  margin: 3rem;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
